.falcon-logo-text .char:nth-child(6) {
    left: 0.15vw;
}

.w--current {
    pointer-events: none;
}

.f-after-cases-holder {
    pointer-events: auto;
}

.f-cases-holder {
    pointer-events: none;
}

.f-case-holder {
    pointer-events: auto;
}

.f-video-embed video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-services-holder .f-case-services-clw .f-case-ci:last-child .text-comma {
    display: none;
}

.con {
    pointer-events: none;
}

.content {
    pointer-events: auto;
}

.footer-fill {
    pointer-events: none;
}

/* WORK PAGE CSS START */
.case-header-holder.loaded {
    position: relative;
    width: 100%;
    height: calc(100dvh - 0vw);
}

.case-header-holder {
    position: relative;
    width: 100%;
    height: calc(100dvh - 7vw);
}

/* WORK PAGE CSS END */
/* SPLITTING CSS START */
.falcon-logo-text span.char {
    position: relative;
    opacity: 1;
    transform-style: preserve-3d;
    transform-origin: left;
    transform: translate(0%, 110%) rotateX(0deg) scaleY(1);
}

.falcon-logo-text.show span.char {
    animation: falconcode-reveal 2.0s cubic-bezier(.23, 1, .32, 1) forwards;
    animation-delay: calc(70ms * var(--char-index));
}

.h1-subpage span.char,
.f-case-title-text span.char {
    position: relative;
    opacity: 1;
    transform-style: preserve-3d;
    transform-origin: left;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translate(0%, 20%);
    -ms-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
    padding-bottom: 1vw;
    margin-bottom: -1vw;
    padding-right: 1vw;
    margin-right: -1vw;
}

.h1-subpage.show span.char,
.f-case-title-text.show span.char {
    animation: revealproducth1 2.5s cubic-bezier(.23, 1, .32, 1) forwards;
    animation-delay: calc(65ms * var(--char-index));
}

.case-h1 span.char {
    position: relative;
    opacity: 1;
    transform-style: preserve-3d;
    transform-origin: left;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translate(0%, 20%);
    -ms-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
    padding-bottom: 1vw;
    margin-bottom: -1vw;
    padding-right: 2vw;
    margin-right: -2vw;
}

.case-h1.show span.char {
    animation: revealproducth1 2.5s cubic-bezier(.23, 1, .32, 1) forwards;
    animation-delay: calc(65ms * var(--char-index));
}

@keyframes revealproducth1 {
    0% {
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: left;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        -webkit-transform: translate(0%, 20%);
        -ms-transform: translate(0%, 20%);
        transform: translate(0%, 20%);
    }

    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: left;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

@keyframes falconcode-reveal {
    0% {
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: left;
        transform: translate(0%, 110%) rotateX(0deg) scaleY(1);
        -webkit-transform: translate(0%, 110%) rotateX(0deg) scaleY(1);
        -webkit-transform: translate(0%, 110%) rotateX(0deg) scaleY(1);
    }

    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: left;
        transform: translate(0%, 0%) rotateX(0deg) scaleY(1);
        -webkit-transform: translate(0%, 0%) rotateX(0deg) scaleY(1);
        -ms-transform: translate(0%, 0%) rotateX(0deg) scaleY(1);
    }
}

/* SPLITTING CSS END */
.span-based-star {
    animation: logofun 18s linear infinite;
}

path#Fill-11 {
    /*animation: logofun2 18s linear infinite;*/
    transform-origin: center center;
    position: relative;
    display: inline-block;
}

.h1-subpage.contact span:nth-child(1) span:nth-child(3) {
    margin-left: -2.5vw;
}

/********************** FONT CLAMP START *****************/
.f-category-holder,
.small-header,
.info-header-text,
.person-title-text,
.about-p,
.small-h3,
.arr-text-2 {
    font-size: clamp(0.688rem, 0.875vw, 1.5rem);
}

/********************** FONT CLAMP END *****************/
.load-overlay {
    clip-path: inset(100% 0% 0% 0%);
}

.load-overlay.loading {
    animation: loadingoverlay 1.25s cubic-bezier(.645, .045, .355, 1) forwards;
}

@keyframes loadingoverlay {
    0% {
        clip-path: inset(100% 0% 0% 0%);
    }

    45% {
        clip-path: inset(0% 0% 0% 0%);
    }

    55% {
        clip-path: inset(0% 0% 0% 0%);
    }

    100% {
        clip-path: inset(0% 0% 100% 0%);
    }
}

@keyframes logofun2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

p.clock span {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.say-hello-inner {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

.cursor .o-embed {
    opacity: 0;
}

.cursor.loading .o-embed {
    opacity: 1;
}

.cursor .cursor-text {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 6s linear infinite;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 0;
}

.cursor.case-hover .cursor-text {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 6s linear infinite;
    opacity: 1;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/********* HORZIZONTAL SCROLL START ************/
.con.hori {
    position: relative;
    width: 100%;
    background-color: #fcfafa;
    overflow-y: hidden;
    height: 100vh;
}

.horizontal-scroll {
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transform-origin: right top;
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
}

.horizontal-scroll>* {
    transform-origin: left top;
    transform: rotate(90deg) translate3d(0, calc(-100vh + 0px), 0);
}

.collection-item {
    height: calc(100vh - 60px);
    position: relative;
}

.f-work-col-list-wrap.work-page {
    height: calc(100vh - 4.2vw);
}

.webvid {
    border-radius: 8px;
    overflow: hidden;
}

@media screen and (max-width: 479px) {
    .webvid {
        border-radius: 3px;
        overflow: hidden;
    }

    .con.hori {
        position: relative;
        width: 100%;
        background-color: #fcfafa;
        overflow-y: visible;
        height: auto;
    }

    .con-inner {
        overflow-y: visible;
        height: auto;
    }

    .horizontal-scroll {
        width: 100%;
        height: auto;
        overflow-y: visible;
        overflow-x: visible;
        transform-origin: right top;
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    .horizontal-scroll>* {
        transform-origin: left top;
        transform: rotate(0deg) translate3d(0, calc(0vh + 0px), 0);
    }

    .case-header-holder {
        position: relative;
        width: 100%;
        height: calc(100svh - 20vw);
    }

    .case-header-holder.loaded {
        position: relative;
        width: 100%;
        height: calc(100svh - 0vw);
    }
}

/********* HORZIZONTAL SCROLL END ************/