@layer payload-default {
    .icon--copy {
        height: 1.5384615385rem;
        width: 1.5384615385rem
    }

    .icon--copy .stroke {
        fill: none;
        stroke: currentColor;
        stroke-width: 1px
    }
}

.numbers-text {
    font-size: clamp(120px, 8vw + 1rem, 9rem)
}

.medium-box-text {
    font-size: clamp(30px, 8vw + 1rem, 4rem)
}

.small-box-text {
    font-size: clamp(20px, 8vw + 1rem, 8rem)
}
