/*lenis -- IMPORTANT*/
html {
    scroll-behavior: initial;
}

html,
body {
    width: 100%;
    height: auto !important;
    min-height: 100%;
}

/*lenis -- IMPORTANT END*/

/* PRELOADER CSS START */

.preloader {
    display: flex;
    -webkit-clip-path: inset(0% 0% 0% 0%);
    clip-path: inset(0% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(.23, 1, .32, 1);
}

.preloader.remove {
    -webkit-clip-path: inset(0% 0% 100% 0%);
    clip-path: inset(0% 0% 100% 0%);
    transition-delay: 0.05s;
    transition: clip-path 2s cubic-bezier(.23, 1, .32, 1);
}

.o-embed.preload-o.w-embed {
    mix-blend-mode: difference;
}

/* PRELOADER CSS END */

.case-header-holder.done {
    transition: 0s !important;
}

.f-after-cases-holder-2 {
    pointer-events: auto;
}

.f-work-col-list-wrap.work-page .f-work-col-item.work-page:nth-child(2) .f-case-link.show {
    transition-delay: 0.2s;
}

.f-work-col-list-wrap.work-page .f-work-col-item.work-page:nth-child(3) .f-case-link.show {
    transition-delay: 0.4s;
}

.f-work-col-list-wrap.work-page .f-work-col-item.work-page:nth-child(4) .f-case-link.show {
    transition-delay: 0.6s;
}

.f-work-col-list-wrap.work-page .f-work-col-item.work-page:nth-child(5) .f-case-link.show {
    transition-delay: 0.8s;
}

.f-work-col-list-wrap.work-page .f-work-col-item.work-page:nth-child(6) .f-case-link.show {
    transition-delay: 1s;
}

.f-work-col-list-wrap.work-page .f-work-col-item.work-page:nth-child(7) .f-case-link.show {
    transition-delay: 1.2s;
}

.falcon-logo.frontpage path,
.falcon-logo.frontpage polygon {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translate(0%, 20%);
    -ms-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
}

.falcon-logo.frontpage.active path,
.falcon-logo.frontpage.active polygon {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: transform 2s cubic-bezier(.23, 1, .32, 1), clip-path 2s cubic-bezier(.23, 1, .32, 1);
}

.falcon-logo.frontpage.active path:nth-child(2) {
    transition-delay: 0.05s;
}

.falcon-logo.frontpage.active path:nth-child(3) {
    transition-delay: 0.1s;
}

.falcon-logo.frontpage.active path:nth-child(4) {
    transition-delay: 0.15s;
}

.falcon-logo.frontpage.active polygon {
    transition-delay: 0.2s;
}

.falcon-logo.frontpage.active path:nth-child(5) {
    transition-delay: 0.25s;
}

.falcon-logo.frontpage.active path:nth-child(6) {
    transition-delay: 0.3s;
}

.falcon-logo.frontpage.active path:nth-child(7) {
    transition-delay: 0.35s;
}

.falcon-logo.frontpage.active path:nth-child(8) {
    transition-delay: 0.4s;
}

a.w-webflow-badge {
    display: none !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
}

* {
    text-rendering: optimizeLegibility;
}

.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 102;
    overflow: hidden;
    animation-name: switch;
    animation-duration: 1.15s;
}

@keyframes switch {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

*:focus {
    outline: none;
}

.no-touchy {
    pointer-events: none !important;
}

textarea:focus,
input:focus {
    outline: none;
}

.con::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.con {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.menu {
    mix-blend-mode: difference;
    pointer-events: none;
}

.menu-logo {
    pointer-events: auto;
}

.menu-link {
    pointer-events: auto;
}

/****** CURSOR CSS START ****/

.cursor.cursor-small {
    pointer-events: none;
    overflow: hidden;
    mix-blend-mode: difference;
    clip-path: circle(70.7% at 50% 50%) !important;
    transition: clip-path 0.8s cubic-bezier(.23, 1, .32, 1), background-color 0.8s cubic-bezier(.23, 1, .32, 1) !important;
}

.cursor.cursor-small.loading,
.cursor.cursor-small.waiting-state {
    clip-path: circle(70.7% at 50% 50%) !important;
}

.cursor {
    pointer-events: none;
    overflow: hidden;
    clip-path: circle(0.0% at 50% 50%);
    transition: clip-path 0.8s cubic-bezier(.23, 1, .32, 1), background-color 0.8s cubic-bezier(.23, 1, .32, 1) !important;
}

.cursor.loading {
    /*top: 50% !important;
left: 50% !important;
transition: 0.8s cubic-bezier(.23, 1, .32, 1) !important;*/
    clip-path: circle(70.7% at 50% 50%) !important;
}

.cursor.case-hover {
    transition: clip-path 0.8s cubic-bezier(.23, 1, .32, 1), background-color 0.8s cubic-bezier(.23, 1, .32, 1) !important;
    clip-path: circle(70.7% at 50% 50%) !important;
}

.cursor.case-hover .follower-text-holder.case {
    display: flex;
}

.cursor.waiting-state {
    pointer-events: none;
    /*transition: 0.6s cubic-bezier(.23, 1, .32, 1) !important;*/
    clip-path: circle(0.0% at 50% 50%) !important;
}

/****** CURSOR CSS END ****/

.work-header-video-embed video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ts-image-holder._1 {
    clip-path: inset(100% 0% 0% 0%);
}

.ts-image-holder._1.show {
    clip-path: inset(0% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(.23, 1, .32, 1);
}

.ts-image-holder._2 {
    clip-path: inset(100% 0% 0% 0%);
}

.ts-image-holder._2.show {
    clip-path: inset(0% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(.23, 1, .32, 1);
}

.f-case-link {
    clip-path: inset(100% 0% 0% 0%);
}

.f-case-link.show {
    clip-path: inset(0% 0% 0% 0%);
    transition: clip-path 2s cubic-bezier(.23, 1, .32, 1);
}


/* SPLITTING CSS START */

span.word,
span.char {
    visibility: visible;
    backface-visibility: visible;
}

.splitting .char,
.splitting .word {
    position: relative;
}

.splitting .word,
.splitting .char {
    display: inline-block;
}

.work-h1 span.char {
    position: relative;
    opacity: 1;
    transform-style: preserve-3d;
    transform-origin: left;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translate(0%, 20%);
    -ms-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
    padding-bottom: 1vw;
    margin-bottom: -1vw;
    padding-right: 1vw;
    margin-right: -1vw;
}

.work-h1.show span.char {
    animation: revealproducth1 2s cubic-bezier(.23, 1, .32, 1) forwards;
    animation-delay: calc(50ms * var(--char-index));
}

.worldwide-p span.word {
    padding-bottom: 1vw;
    margin-bottom: -1vw;
    padding-right: 1vw;
    margin-right: -1vw;
}

@keyframes revealproducth1 {
    0% {
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: left;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        -webkit-transform: translate(0%, 20%);
        -ms-transform: translate(0%, 20%);
        transform: translate(0%, 20%);
    }

    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: left;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.small-about-p span.word,
.toresimon-p span.word,
.about-p span.word,
.client-description-rich-text span.word,
.worldwide-p span.word,
.small-h2 span.word {
    clip-path: inset(100% 0% 0% 0%);
    transition: all 2s cubic-bezier(.23, 1, .32, 1);
    transition-delay: calc(120ms * var(--line-index));
}

.small-about-p.show span.word,
.toresimon-p.show span.word,
.about-p.show span.word,
.client-description-rich-text.show span.word,
.worldwide-p.show span.word,
.small-h2.show span.word {
    clip-path: inset(0% 0% 0% 0%) !important;
    transition: all 2s cubic-bezier(.23, 1, .32, 1) !important;
    transition-delay: calc(120ms * var(--line-index)) !important;
}


/* SPLITTING CSS END */

/* CUSTOM PLAYER ////////////////////// START */

.video-js .vjs-control:focus {
    text-shadow: 0em 0em 0em transparent !important;
}

.video-js {
    width: 100%;
    height: auto !important;
}

.video-js .vjs-slider {
    margin: 0 0 0 0 !important;
}

.video-js .vjs-progress-control .vjs-progress-holder {
    margin: 0 0 !important;
}

button.vjs-fullscreen-control.vjs-control.vjs-button {
    display: none;
    position: relative;
    bottom: 0rem;
    left: 0px;
    width: 4rem;
    text-align: center;
    pointer-events: none;
}

div#casevid {
    width: 100%;
    height: 100%;
    font-family: SuisseIntl, sans-serif !important;
    color: white !important;
}

.video-js .vjs-tech {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-js .vjs-big-play-button {
    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 0.06666em solid #fff;
    border-radius: 0%;
    transition: all 0.4s;
    background-color: transparent !important;
    width: 10vw;
    height: 10vw;
    display: none;
}

.vjs-poster {
    background-size: cover;
}

.vjs-control-bar {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(4, 0, 93, 0) 100%) !important;
}

button.vjs-picture-in-picture-control.vjs-control.vjs-button {
    display: none;
}

.vjs-has-started .vjs-control-bar {
    font-family: SuisseIntl, sans-serif !important;
    font-size: 0.938rem;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: 0rem;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5rem;
    height: 10rem;
}

.vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
    height: 0.15rem !important;
    margin-left: 1rem !important;
    background: rgb(250 250 250 / 20%);
}

.vjs-volume-bar.vjs-slider-horizontal {
    width: 3rem;
    height: 0.15rem;
}

.vjs-volume-bar.vjs-slider-bar.vjs-slider.vjs-slider-horizontal {
    top: 0.45rem;
}

.video-js .vjs-play-progress {
    background-color: #fff;
}

.video-js .vjs-load-progress {
    background: transparent;
}

.video-js .vjs-load-progress div {
    background: transparent;
    display: none;
}

.video-js .vjs-time-tooltip {
    background-color: transparent !important;
    float: right;
    font-size: 0.938rem !important;
    pointer-events: none;
    position: absolute;
    top: 0rem !important;
    visibility: hidden;
    z-index: 20;
    height: 3rem !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 0px;
}

.vjs-time-tooltip {
    font-family: SuisseIntl, sans-serif !important;
}

.vjs-play-progress.vjs-slider-bar .vjs-time-tooltip {
    background: rgb(255 255 255 / 0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 1 !important;
    color: white;
    font-size: 5vw !important;
    height: 100vh !important;
    transform: translate(0%, -50%);
}

.vjs-play-progress.vjs-slider-bar::before {
    display: none;
}

.vjs-mouse-display {
    width: 0px !important;
    margin-left: 0px !important;
    background: rgb(255 255 255 / 0%) !important;
}

span.vjs-remaining-time-display {
    font-family: SuisseIntl, sans-serif !important;
}

.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: "Play";
    font-size: 0.938rem;
    margin-top: 0.9rem;
    font-family: SuisseIntl, sans-serif !important;
}

.vjs-icon-pause:before,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
    content: "Pause";
    font-size: 0.938rem;
    margin-top: 0.9rem;
    font-family: SuisseIntl, sans-serif !important;
}

.vjs-icon-replay:before,
.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
    content: "Replay";
    font-size: 0.938rem;
    margin-top: 0.9rem;
    font-family: SuisseIntl, sans-serif !important
}

.video-js .vjs-control {
    height: 1rem;
}

button.vjs-play-control.vjs-control.vjs-button {
    width: 3rem;
    margin-right: 1rem;
    background: transparent;
}

button.vjs-play-control.vjs-control.vjs-button span {
    top: -1.15rem;
    position: absolute;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    width: 100%;
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
    background: transparent;
}

button.vjs-mute-control.vjs-control.vjs-button .vjs-icon-placeholder:before {
    font-size: 0.938rem;
    line-height: 1.67;
    top: -0.25rem;
}

.video-js .vjs-volume-level {
    background-color: #fff;
    height: 100%;
}

.vjs-slider-horizontal .vjs-volume-level:before {
    display: none;
}

.video-js .vjs-slider {
    background-color: rgb(250 250 250 / 20%);
}

.video-js .vjs-time-control {
    position: relative;
    bottom: 1px;
    display: none;
}

.vjs-play-progress.vjs-slider-bar {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* CUSTOM PLAYER ////////////////////// END */

a.f-case-link .grid-hover,
.f-work-col-item .grid-hover {
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(.23, 1, .32, 1);
}

a.f-case-link:hover .grid-hover,
.f-work-col-item:hover .grid-hover {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(.23, 1, .32, 1);
}

video.casevid {
    visibility: hidden;
}

video.casevid.show {
    visibility: visible;
}

.menu-links-holder.main.frontpage {
    margin-left: 0vw;
}

.about-services-list-text.contact-page.loaded {
    transition: transform 1s cubic-bezier(.23, 1, .32, 1) !important;
    transform: translate(0) !important;
}

.about-services-list-text.contact-page.two {
    transition-delay: 0.15s !important;
}

.about-services-list-text.contact-page.three {
    transition-delay: 0.30s !important;
}

@media (hover: none) and (pointer: coarse) {

    .cursor {
        display: none !important;
    }

    .cursor-follower {
        display: none !important;
    }

}