.main_logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.hidden_div {
    display: none;
}

.svgtext {
    letter-spacing: 100px;
}

/* Menu styles */
.menu-block {
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-open .menu-block {
    transform: translateX(0) !important;
}

#menu-overlay {
    transition: opacity 0.4s ease;
}

#open-menu-text, #close-menu-text {
    transition: transform 0.4s ease;
}

.menu-open #open-menu-text {
    transform: translateY(110%);
}

.menu-open #close-menu-text {
    transform: translateY(0);
}

.menu-open #menu-overlay {
    opacity: 1;
    pointer-events: all;
}

/* Loader styles */

.loader-container {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
}

.tube {
  position: relative;
  width: auto;
  height: 18rem;
}

.number-loader {
  position: absolute;
  inset: 0;
  z-index: 100;
}

.tube {
  position: relative;
  width: 100%;
  height: 50vw;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: none;

  line-height: 1;
  margin: 0;
  white-space: nowrap;

  font-weight: 700;
  color: #000000;
  text-shadow: none;
  font-size: 12rem;
  letter-spacing: -0.05rem;
}

.char {
  backface-visibility: hidden;
}

.font-size-spical {
    font-size: 2rem;
}